* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* Visual de section en general, no son los cuadros de texto */
section {
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 2rem 3rem;
    margin-top: 40%;
    margin-bottom: 40%;
}

body .text {
    position: absolute;
    color: #fff;
    right: 10px;
    top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

h2 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}
h3 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
h5 {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

p {
    color: #ffffff;
    text-decoration: none;
}

p:hover {
    text-decoration: none;
}


.applicants{
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    background-color:transparent;
    border-radius: 10px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1rem;
    color: #ffffff;
}

thead {
    background-color: transparent;
}


th {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: transparent;
}

tbody tr:nth-child(odd) {
    background-color: transparent;
}

.link {
    display: inline-block;
    width: 100%;
    height: 30px; 
    border-radius: 20px; 
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    line-height: 30px; 
    color: #000;
    transition: all 0.4s ease;
    margin-top: 20px;
}

.link:hover {
    transform: scale(1.03);
    background-color: #e6e6e6;
}

.link:active {
    transform: scale(0.95);
}
