/* List Elements */

/* Estilos del contenedor de la tabla */
.table-container {
    position: relative;
    max-width: 800px; /* Ajusta el ancho máximo de la tabla según sea necesario */
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    padding: 2rem 3rem;
    margin-top: 40px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos de la tabla */
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos de las celdas de encabezado */
.table-container th,
.table-container td {
    padding: 12px 15px;
    text-align: left;
    color: #fff; /* Color del texto */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* Borde inferior */
}

/* Estilos de las celdas de encabezado */
.table-container th {
    background-color: #343a40; /* Color de fondo */
}


/* Estilos al pasar el ratón sobre las filas */
.table-container tbody tr:hover {
    background-color: #6c757d; /* Color de fondo */
}

/* Estilos específicos para las celdas de la última columna */
.table-container td:last-child {
    text-align: center; /* Alineación centrada */
}

.table-container td {
    vertical-align: middle;
}

/* Clases para filas de las List */
.open-row,
.high-level-row,
.accepted-row {
    background-color: #437944b4; /* Verde para aceptado */
}

.middle-level-row,
.pending-row {
    background-color: #b6b63c96; /* Amarillo para pendiente */
}

.rejected-row,
.low-level-row,
.closed-row {
    background-color: #8b3333b4; /* Verde para aceptado */
}

.dark_bg {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor alpha para ajustar el nivel de transparencia */
    color: white; /* Cambia el color del texto si es necesario */
    padding: 20px; /* Ajusta el relleno según sea necesario */
    border-radius: 10px; /* Agrega bordes redondeados si deseas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra para mejorar el efecto */
  }

/* Opportunity */

.opportunity-detail {
    position: relative;
    max-width: 400px;
    background-color: transparent; /* Cambia el color de fondo */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Cambia el color del borde */
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column; /* Ajusta el diseño a una columna */
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin-top: 40%;
    margin-bottom: 40%;
    color: #fff; /* Cambia el color del texto */
    justify-content: center;
}

.opportunity-detail h2 {
    font-size: 2rem; /* Aumenta el tamaño del título */
    color: #fff; /* Cambia el color del texto */
    text-align: center;
    margin-bottom: 20px;

}

.opportunity-detail p {
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-bottom: 10px;
    color: #fff; /* Cambia el color del texto */
}

.opportunity-detail strong {
    font-weight: bold;
}

.opportunity-detail p:last-child {
    margin-bottom: 0;
}

.opportunity-detail.error {
    color: #000;
}


/* Team */

.team-detail {
    position: relative;
    max-width: 400px;
    background-color: transparent; /* Cambia el color de fondo */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Cambia el color del borde */
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column; /* Ajusta el diseño a una columna */
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin-top: 40%;
    margin-bottom: 40%;
    color: #fff; /* Cambia el color del texto */
    justify-content: center;
}

.team-detail h2 {
    font-size: 2rem; /* Aumenta el tamaño del título */
    color: #fff; /* Cambia el color del texto */
    text-align: center;
    margin-bottom: 20px;

}

.team-detail p {
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-bottom: 10px;
    color: #fff; /* Cambia el color del texto */
}

.team-detail strong {
    font-weight: bold;
}

.team-detail p:last-child {
    margin-bottom: 0;
}

.team-detail.error {
    color: #000;
}


/* Postulation */

.postulation-detail {
    position: relative;
    max-width: 400px;
    background-color: transparent; /* Cambia el color de fondo */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Cambia el color del borde */
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column; /* Ajusta el diseño a una columna */
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin-top: 40%;
    margin-bottom: 40%;
    color: #fff; /* Cambia el color del texto */
    justify-content: center;
}

.postulation-detail h2 {
    font-size: 2rem; /* Aumenta el tamaño del título */
    color: #fff; /* Cambia el color del texto */
    text-align: center;
    margin-bottom: 20px;

}

.postulation-detail p {
    font-size: 1rem; /* Ajusta el tamaño del texto */
    margin-bottom: 10px;
    color: #fff; /* Cambia el color del texto */
}

.postulation-detail strong {
    font-weight: bold;
}

.postulation-detail p:last-child {
    margin-bottom: 0;
}

.postulation-detail.error {
    color: #000;
}




/* General */

.link {
    display: inline-block;
    width: 100%; 
    height: 30px; 
    border-radius: 20px; 
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    line-height: 30px; 
    color: #000;
    transition: all 0.4s ease
}

.link:hover {
    background-color: transparent;
}
